@use "../helpers/" as *;

form {
    width: 100%;
    margin-inline: auto;
    padding: $padding;
    border: $border;
    border-radius: $border-radius;
}

label {
    display: block;
}

input,
select {
    width: 100%;
    display: block;
    padding: 0.5rem;
    border: 1px solid $color-gray;
}
